<launch>
    <!-- Launch parameters -->
    <arg name="use_rviz"    default="true" />
    <arg name="multi_goals" default="false" />
    <arg name="sim_mode"    default="true" />
    
    <!-- ******************** -->
    <!-- Stage & Localization -->
    <!-- ******************** -->
    <!-- sim mode-->
    <param name="/use_sim_time" value="$(arg sim_mode)"/>

    <!-- map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find hypharos_minibot)/launch/Simulation/includes/maze.yaml" respawn="false" />

    <!-- stage_ros -->
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find hypharos_minibot)/launch/Simulation/includes/maze.world" respawn="false" >
        <param name="base_watchdog_timeout" value="0.2"/>
    </node>

    <!-- amcl config -->
    <include file="$(find hypharos_minibot)/launch/Simulation/includes/amcl_node.xml"/>  

    <!-- ********** -->
    <!-- Navigation -->
    <!-- ********** -->
    <!-- move base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node">
        <!-- global planner -->
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <rosparam file="$(find hypharos_minibot)/launch/Simulation/includes/global_planner_params.yaml" command="load" />
        <!-- params for move_base -->
        <param name="planner_frequency" value="0.2" />
        <param name="controller_frequency" value="10.0" />
        <param name="controller_patience" value="3.0" />
        <param name="oscillation_timeout" value="10.0" />
        <param name="oscillation_distance" value="0.05" />
        <!-- params for local control (dwa) -->
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find hypharos_minibot)/launch/Simulation/includes/dwa_local_planner_params.yaml" command="load" />
        <!-- params for costmap layers -->        
        <rosparam file="$(find hypharos_minibot)/launch/Simulation/includes/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find hypharos_minibot)/launch/Simulation/includes/global_costmap_params.yaml" command="load" />
    </node>
    
    <!-- *********** -->
    <!-- Multi Goals -->
    <!-- *********** -->
    <node pkg="hypharos_minibot" type="multi_goals.py" respawn="false" name="multi_goals" output="screen" if="$(arg multi_goals)">
        <!-- params for move_base -->
        <param name="goalListX" value="[1.917, 7.250, 5.283, 1.797, 1.858]" />
        <param name="goalListY" value="[4.624, 3.741, 7.110, 7.153, 1.456]" />
        <param name="map_frame" value="map" />
    </node>

    <!-- RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hypharos_minibot)/rviz/minibot_sim.rviz" if="$(arg use_rviz)"/>

</launch>
